*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: tahoma, sans-serif;
}
.header-div{
    padding: 10px;
    background-color: teal;
    border-radius: 5%;
    width: 100px;
    margin: 15px auto 15px;
}
.header{
    font-size: medium;
    margin: auto;
    padding: 0;
    color: white;
    position: relative
}
input{
    margin: 0 37% 0;
    padding: 0;
    position: relative;
}
button{
    position: relative;
    margin: 0 46%
}
li span{
    position: absolute;
    right: 5%;
    border-radius: 50%;
}
li span:hover{
    background: grey
}li.checked{
    text-decoration: line-through;
}
